{% extends "layouts/base.html" %}

{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-4">🏆 Последние достижения школы</h1>
  
  <div class="row">
    <!-- Карточка NFT -->
    <div class="col-md-4 mb-4">
      <div class="card card-glass p-3">
        <img src="/static/img/nft-sample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="text-neon">Лучший математик</h5>
          <p>Иван Петров (9-Б) получил эту награду за победу в олимпиаде.</p>
          <span class="badge bg-purple">Редкий</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}